* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
    scroll-behavior: smooth;
  }


img.building {
    /*display: block;
     margin-left: auto;
    margin-right: auto */
    width: 70%;
    height: 130%;
    position: relative;
    /* top: 0; */
    left: 17%;
  }

  img.elevator {
    position: absolute;
    /* top: 102%; */
   /* left: 42.4%; */
    width: 5.35%;
    height: 20%;
    transition: 4000 ease-in-out;
    /* animation: linear 10s; */
    z-index: 2;
    /* margin-left: auto;
    margin-right: auto */
  }

  img.btnImg {
    position: absolute;
    /* top: 79%;*/
    left: 51.1%; 
    width: 2%;
    height: 4%;
  }

  img.btnImgRED {
    position: absolute;
    /* top: 79%;*/
    left: 51.1%; 
    width: 2%;
    height: 4%;
    visibility : hidden;
    z-index: 1;
  }
  
  /* Bottom right text */
.text-block {
  position: absolute;
  font-size: 11px;
  left: 50.7%;
  background-color: rgba(0, 0, 0, 0.363);
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  z-index: 2;
}

/* #timerFloor0{
  top: 100%;
} */
