* {
    padding: 0;
    font-family: 'Tahoma', sans-serif;
    scroll-behavior: smooth;
  }


.header {
  background-color: rgba(44, 231, 144, 0.952);
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.89);
  font-size: 20px;
  text-align: center;
  border-radius: 0.3em;
}

#config {
  text-align: center;
  border-radius: 1rem;
  border: 3px solid rgba(44, 231, 144, 0.952);
  width: 40%;
  margin: auto;
 margin-top: 50px;
}

p {
  color: red;
  font-weight: bold;
  width: 80%;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 15px;
}

input[type=submit] {
  padding: 10px 30px; 
  background: rgba(44, 231, 144, 0.589); 
  border: 0.7mm solid rgba(8, 8, 8, 0.178);
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  font-size: large;
  /* font-weight: bold; */
}


  img.elevator {
    position: absolute;
    width: 6.7%;
    height: 25%;
    /* transition: 4000ms ease-in-out; */
    z-index: 2;
    top: 196%;
    display: none;
  }

  img.btnImg {
    position: absolute;
    left: 40%; 
    width: 2%;
    height: 4%;
    /* display: none; */
  }

  img.btnImgRED {
    position: absolute;
    left: 40%; 
    width: 2%;
    height: 4%;
    visibility : hidden;
    z-index: 1;
  }
  
.text-block {
  position: absolute;
  font-size: 11px;
  left: 40.1%;
  background-color: rgba(0, 0, 0, 0.363);
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  z-index: 2;
  display: none;
}

.floor {
  margin: 0px;
  padding: 0px;
  width: 505px;
  height: 180px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-collapse: collapse;
}

.elevator {
  width: 110px;
  height: 180px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-collapse: collapse;
}

